@{
  Layout = "_Layout";
}

@using Pierre.Models;
@using System.Security.Claims;
@model List<Pierre.Models.Flavor>;

<h2>Here is a list of your tasks, @User.Identity.Name</h2>
<hr/>

@if (Model.Any())
{
 <ul>
  @foreach (Flavor flavor in Model)
  {
    <li>@Html.ActionLink($"{flavor.Description}", "Details", new { id = flavor.FlavorId})</li>
  }
</ul>
} 
else
{
  <h3>No flavors have been added yet!</h3>
}




<p>@Html.ActionLink("Add new item", "Create")</p>